################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Src/Karel/.vs
/Src/Karel/bin
/Src/Karel/js/ui.js.map
/Src/Karel/js/ui.js
/Src/Karel/js/turnleftaction.js.map
/Src/Karel/js/turnleftaction.js
/Src/Karel/js/moveaction.js.map
/Src/Karel/js/moveaction.js
/Src/Karel/js/kareldrawer.js.map
/Src/Karel/js/kareldrawer.js
/Src/Karel/js/karel.js.map
/Src/Karel/js/karel.js
/Src/Karel/js/ikarelaction.js.map
/Src/Karel/js/ikarelaction.js
/Src/Karel/js/direction.js.map
/Src/Karel/js/direction.js
/Src/Karel/js/boardsize.js.map
/Src/Karel/js/boardsize.js
/Src/Karel/js/WorldDrawer.js.map
/Src/Karel/js/WorldDrawer.js
/Src/Karel/js/world.js.map
/Src/Karel/js/world.js
/Src/Karel/obj/Debug
/Src/Karel/packages
*.user
/Tests/Karel.Tests
